/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 :root {
    --main-color: #C8782f;
    --text-color: #66202A;
    --card-color: #75ACC0;
    --light-color: #E1B878;
}

.nav-wrapper {
    background-color: var(--main-color);
}

.page-footer {
    background-color: var(--main-color);
}

.brand-logo {
    color: var(--text-color)
}

.card {
    height: 300px;
    background-color: var(--card-color);
    margin: 20px;
}

.card-panel {
    height: 250px;
    background-color: var(--light-color);
    margin: 30px;
}

body {
    font-family: 'Andika New Basic', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

li {
    font-family: 'Montserrat', sans-serif;
}

.white-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color)
}

#work {
    background-image: url(/assets/just-your-type.png);
    background-size: cover;
}